$principial-colour: #1b1b1b;
$secondary-color: #538157;
$typography-color: #bdbdbd;
$principal-typography: "Bebas Neue", "cursive";
$principal-background: url("https://i.pinimg.com/564x/3d/cb/4e/3dcb4e5fc28d47608361e71bf26826f5.jpg");
